/CSVs
/Galinha_Maricota_com_2_Pintinhos.csv
/Galinha_Maricota_com_2_Pintinhos.jpg
/Torre_Donuts_-_Candy.csv
/Torre_Donuts_-_Candy.jpg
/antiga_pagina1
/antiga_pagina2
/brikedomont_02.py
/brinkedomont
/brinkedomont.py
/brinkedomont_01.py
/brinkedomont_02.py
/brinkedomont_03.py
/brinkedomount_03.py
/brinquedos_rasp.py
/brinquex.py
/brinquex1.py
/dados_produtos.csv
/dados_raspados.csv
/dados_raspados.xlsx
/downloads
/execute_script.php
/marcelo1.py
/novoscrap.py
/plantandoebrincando.py
/plantandoebrincando_todos.py
/plantandoebrincando_todos_100.py
/plantandoebrincando_todos_101.py
/plantandoebrincando_todos_102.py
/primeiro_scrap.py
/produto_1.csv
/produto_10.csv
/produto_11.csv
/produto_12.csv
/produto_13.csv
/produto_14.csv
/produto_15.csv
/produto_16.csv
/produto_17.csv
/produto_18.csv
/produto_19.csv
/produto_2.csv
/produto_20.csv
/produto_21.csv
/produto_22.csv
/produto_23.csv
/produto_24.csv
/produto_25.csv
/produto_26.csv
/produto_27.csv
/produto_28.csv
/produto_29.csv
/produto_3.csv
/produto_30.csv
/produto_31.csv
/produto_32.csv
/produto_33.csv
/produto_34.csv
/produto_35.csv
/produto_36.csv
/produto_37.csv
/produto_38.csv
/produto_39.csv
/produto_4.csv
/produto_40.csv
/produto_41.csv
/produto_42.csv
/produto_43.csv
/produto_44.csv
/produto_45.csv
/produto_46.csv
/produto_47.csv
/produto_48.csv
/produto_49.csv
/produto_5.csv
/produto_50.csv
/produto_6.csv
/produto_7.csv
/produto_8.csv
/produto_9.csv
/programa.html
/regex_brinca.py
/requirements.txt
/robotz.txt
/scarp_fim_1.py
/scrap_fim.py
/scrappyx.py
/site1.py
/sitemapex.py
/test_scraps.py
/teste.php
/teste_xpath.py
/ultimo_srap.py
/venv